:root {
  --color-primary: #12376e;
  --color-primary-2: #34598f;
  --color-primary-3: #458a9f;
  --color-primary-4: #23487f;
  --color-secondary: #d38800; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

/* ========================================================================== */
/* NAVBAR */
/* ========================================================================== */
.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  grid-template-rows: repeat(3, min-content) 70vh min-content;
  grid-row-gap: 1.6rem;
  margin-top: 1.6rem; }
  .container .social-icons {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    align-items: center; }

/* ========================================================================== */
/* BANNER */
/* ========================================================================== */
.banner {
  grid-column: 2 / 10;
  grid-row: 4 / 5; }

/* ========================================================================== */
/* DAY OFFER */
/* ========================================================================== */
.day-offer {
  grid-column: 2 / 10;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-gap: 1.6rem 3.2rem;
  justify-items: center; }
  .day-offer--img-one {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    width: 100%; }
  .day-offer--img-two {
    grid-column: 3 / -1;
    grid-row: 4 / -1;
    width: 100%; }
  .day-offer__heading {
    grid-column: 3 / -1;
    grid-row: 1 / 2; }
  .day-offer__paragraph {
    grid-column: 3 / -1;
    grid-row: 2 / 3; }
  .day-offer__btn {
    grid-column: 3 / -1;
    grid-row: 3 / 4; }

/* ========================================================================== */
/* BEST SELLING */
/* ========================================================================== */
/* ========================================================================== */
/* NAVBAR */
/* ========================================================================== */
.social-icon {
  font-size: 1.8rem;
  color: var(--color-primary);
  transition: all .2s; }
  .social-icon:hover {
    color: var(--color-primary-2);
    transform: rotateZ(360deg); }

.first-nav {
  grid-column: 6 / 10;
  grid-row: 1 / 2; }
  .first-nav__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); }
    .first-nav__list .first-nav-item__link {
      font-size: 1.6rem;
      color: var(--color-primary);
      display: inline-block;
      width: 100%;
      text-align: center; }
      .first-nav__list .first-nav-item__link span {
        font-size: 1.3rem;
        color: var(--color-primary-2); }
      .first-nav__list .first-nav-item__link i {
        font-size: 1.3rem;
        margin-right: .3rem; }
      .first-nav__list .first-nav-item__link::after {
        content: "";
        width: 0;
        height: .1rem;
        background-color: var(--color-primary);
        display: block;
        margin: auto;
        transition: width 0.2s cubic-bezier(0.55, 0, 0.98, 0.54); }
      .first-nav__list .first-nav-item__link:hover::after {
        width: 100%; }

.search {
  grid-column: 8 / 10;
  grid-row: 2 / 3; }
  .search__form {
    display: grid;
    grid-template-columns: repeat(10, 10%); }
    .search__form--input {
      grid-column: 3 / -1;
      grid-row: 1 / 2;
      padding: .3rem .4rem;
      font-size: 1.3rem;
      border: none;
      border-bottom: 0.1rem solid var(--color-primary);
      outline: none;
      color: var(--color-primary); }
      .search__form--input::placeholder {
        color: var(--color-primary-2); }
    .search__form--btn {
      grid-column: 10 / -1;
      grid-row: 1 / 2;
      border: none;
      background-color: transparent;
      cursor: pointer; }

.second-nav {
  grid-column: 2 / 10;
  grid-row: 3 / 4;
  border-top: 0.1rem solid var(--color-primary);
  border-bottom: 0.1rem solid var(--color-primary); }
  .second-nav__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); }
    .second-nav__list--item:first-child {
      position: relative; }
      .second-nav__list--item:first-child:hover .dropdown {
        visibility: visible;
        opacity: 1; }
    .second-nav__list--item:hover .second-nav-link {
      background-color: var(--color-primary);
      color: #fff; }
    .second-nav__list--item:hover .second-nav-link::before,
    .second-nav__list--item:hover .second-nav-link::after {
      width: 100%;
      background-color: #fff; }
    .second-nav__list--item .second-nav-link {
      text-align: center;
      display: grid;
      text-transform: uppercase;
      font-size: 1.4rem;
      color: var(--color-primary);
      padding: .8rem 0;
      transition: all .5s .3s; }
      .second-nav__list--item .second-nav-link::before, .second-nav__list--item .second-nav-link::after {
        content: "";
        width: 0;
        height: .1rem;
        background-color: var(--color-primary);
        display: block;
        transition: width 0.3s cubic-bezier(0.55, 0, 0.98, 0.54), background-color 0.5s 0.3s; }
      .second-nav__list--item .second-nav-link::after {
        justify-self: end; }
    .second-nav__list--item .dropdown {
      position: absolute;
      top: 100%;
      width: 70rem;
      background-color: #fffeee;
      padding: 1.6rem;
      display: grid;
      grid-template-columns: repeat(7, 10rem);
      visibility: hidden;
      opacity: 0;
      transition: all 1s;
      z-index: 100; }
      .second-nav__list--item .dropdown__first-list {
        grid-column: 1 / 3; }
      .second-nav__list--item .dropdown__second-list {
        grid-column: 3 / 5; }
      .second-nav__list--item .dropdown__image {
        grid-column: 5 / -1;
        width: 100%; }

.dropdown-list-link {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--color-primary-2);
  margin: 0 0 1rem 1.6rem;
  display: block; }
  .dropdown-list-link:hover {
    color: var(--color-primary-3); }

/* ========================================================================== */
/* BANNER */
/* ========================================================================== */
.banner {
  position: relative; }
  .banner__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    z-index: 50; }
    .banner__content--heading {
      padding: 0 2rem;
      font-size: 10rem;
      color: var(--color-primary);
      margin-bottom: 6rem; }
    .banner__content--btn {
      width: 16rem;
      height: 5rem;
      background: linear-gradient(to top, #00154c, var(--color-primary), #23487f);
      color: #fff;
      text-transform: uppercase;
      border: .1rem solid #fff;
      border-radius: .3rem;
      outline: none;
      position: relative;
      overflow: hidden;
      cursor: pointer; }
      .banner__content--btn .banner-btn-text-1 {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        transition: top .2s; }
      .banner__content--btn:hover .banner-btn-text-1 {
        top: -100%; }
      .banner__content--btn .banner-btn-text-2 {
        position: absolute;
        top: 150%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        transition: top .2s; }
      .banner__content--btn:hover .banner-btn-text-2 {
        top: 50%; }
  .banner__slideshow {
    height: 100%;
    overflow: hidden; }
    .banner__slideshow .slide-btn {
      width: 1.3rem;
      height: 1.3rem;
      background-color: #bbb;
      border: 0.2rem solid var(--color-secondary);
      border-radius: 50%;
      cursor: pointer;
      outline: none;
      position: absolute;
      top: 95%;
      transform: translateX(-50%);
      z-index: 10; }
      .banner__slideshow .slide-btn:focus {
        background-color: var(--color-primary); }
    .banner__slideshow .slide-btn-1 {
      left: 47%; }
      .banner__slideshow .slide-btn-1:focus ~ .banner__slideshow--wrapper {
        animation: none;
        left: 0; }
    .banner__slideshow .slide-btn-2 {
      left: 49%; }
      .banner__slideshow .slide-btn-2:focus ~ .banner__slideshow--wrapper {
        animation: none;
        left: -100%; }
    .banner__slideshow .slide-btn-3 {
      left: 51%; }
      .banner__slideshow .slide-btn-3:focus ~ .banner__slideshow--wrapper {
        animation: none;
        left: -200%; }
    .banner__slideshow .slide-btn-4 {
      left: 53%; }
      .banner__slideshow .slide-btn-4:focus ~ .banner__slideshow--wrapper {
        animation: none;
        left: -300%; }
    .banner__slideshow--wrapper {
      display: flex;
      width: 400%;
      height: 100%;
      position: relative;
      animation: slideshow 20s infinite; }
      .banner__slideshow--wrapper .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

/* ========================================================================== */
/* DAY OFFER */
/* ========================================================================== */
.day-offer__heading {
  font-size: 6rem;
  color: var(--color-primary-4); }

.day-offer__paragraph {
  font-size: 3rem;
  color: var(--color-primary-2); }

.day-offer__btn {
  width: 16rem;
  padding: 1rem;
  font-size: 1.4rem;
  color: #fff;
  background: linear-gradient(to top, #00154c, var(--color-primary), var(--color-primary-4));
  border: none;
  border-radius: 5rem;
  text-transform: uppercase;
  outline: none;
  box-shadow: .2rem .2rem 1rem #777;
  cursor: pointer;
  transition: all .2s; }
  .day-offer__btn:hover {
    box-shadow: .2rem .2rem 2rem #777; }

.day-offer--img-two {
  align-self: end; }

/* ========================================================================== */
/* BEST SELLING */
/* ========================================================================== */
@keyframes slideshow {
  0% {
    left: 0; }
  10% {
    left: 0; }
  15% {
    left: -100%; }
  25% {
    left: -100%; }
  30% {
    left: -200%; }
  40% {
    left: -200%; }
  45% {
    left: -300%; }
  55% {
    left: -300%; }
  60% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -100%; }
  85% {
    left: -100%; }
  90% {
    left: 0; }
  100% {
    left: 0; } }
