/* ========================================================================== */
/* NAVBAR */
/* ========================================================================== */
.social-icon {
    font-size: 1.8rem;
    color: var(--color-primary);
    transition: all .2s;

    &:hover {
        color: var(--color-primary-2);
        transform: rotateZ(360deg);
    }
}

.first-nav {
    grid-column: 6 / 10;
    grid-row: 1 / 2;

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

        .first-nav-item {

            &__link {
                font-size: 1.6rem;
                color: var(--color-primary);
                display: inline-block;
                width: 100%;
                text-align: center;

                span {
                    font-size: 1.3rem;
                    color: var(--color-primary-2);
                }

                i {
                    font-size: 1.3rem;
                    margin-right: .3rem;
                }

                &::after {
                    content: "";
                    width: 0;
                    height: .1rem;
                    background-color: var(--color-primary);
                    display: block;
                    margin: auto;
                    transition: width .2s cubic-bezier(.55, 0, .98, .54);
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

.search {
    grid-column: 8 / 10;
    grid-row: 2 / 3;

    &__form {
        display: grid;
        grid-template-columns: repeat(10, 10%);

        &--input {
            grid-column: 3 / -1;
            grid-row: 1 / 2;
            padding: .3rem .4rem;
            font-size: 1.3rem;
            border: none;
            border-bottom: .1rem solid var(--color-primary);
            outline: none;
            color: var(--color-primary);

            &::placeholder {
                color: var(--color-primary-2);
            }
        }

        &--btn {
            grid-column: 10 / -1;
            grid-row: 1 / 2;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
}

.second-nav {
    grid-column: 2 / 10;
    grid-row: 3 / 4;
    border-top: .1rem solid var(--color-primary);
    border-bottom: .1rem solid var(--color-primary);

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

        &--item {

            &:first-child {
                position: relative;

                &:hover .dropdown {
                    visibility: visible;
                    opacity: 1;
                }
            }

            &:hover .second-nav-link {
                background-color: var(--color-primary);
                color: #fff;
            }

            &:hover .second-nav-link::before,
            &:hover .second-nav-link::after {
                width: 100%;
                background-color: #fff;
            }


            .second-nav-link {
                text-align: center;
                display: grid;
                text-transform: uppercase;
                font-size: 1.4rem;
                color: var(--color-primary);
                padding: .8rem 0;
                transition: all .5s .3s;

                &::before,&::after {
                    content: "";
                    width: 0;
                    height: .1rem;
                    background-color: var(--color-primary);
                    display: block;
                    transition: width .3s cubic-bezier(.55, 0, .98, .54),
                    background-color .5s .3s;
                }

                &::after {
                    justify-self: end;
                }
            }

            .dropdown {
                position: absolute;
                top: 100%;
                width: 70rem;
                background-color: #fffeee;
                padding: 1.6rem;
                display: grid;
                grid-template-columns: repeat(7, 10rem);
                visibility: hidden;
                opacity: 0;
                transition: all 1s;
                z-index: 100;

                &__first-list {
                    grid-column: 1 / 3;
                
                }

                &__second-list {
                    grid-column: 3 / 5;
                }

                &__image {
                    grid-column: 5 / -1;
                    width: 100%;
                }
            }
        }
    }
}

.dropdown-list-link {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--color-primary-2);
    margin: 0 0 1rem 1.6rem;
    display: block;

    &:hover {
        color: var(--color-primary-3);
    }
}

/* ========================================================================== */
/* BANNER */
/* ========================================================================== */
.banner {
    position: relative;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        text-align: center;
        z-index: 50;

        &--heading {
            padding: 0 2rem;
            font-size: 10rem;
            background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
            color: var(--color-primary);
            margin-bottom: 6rem;
        }

        &--btn {
            width: 16rem;
            height: 5rem;
            background: linear-gradient(to top, #00154c, var(--color-primary), #23487f);
            color: #fff;
            text-transform: uppercase;
            border: .1rem solid #fff;
            border-radius: .3rem;
            outline: none;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            .banner-btn-text-1 {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
                transition: top .2s;
            }

            &:hover .banner-btn-text-1{
                top: -100%;
            }   

            .banner-btn-text-2 {
                position: absolute;
                top: 150%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
                transition: top .2s;
            }

            &:hover .banner-btn-text-2{
                top: 50%;
            }   
        }
    }
    
    &__slideshow {
        height: 100%;
        overflow: hidden;

        .slide-btn {
            width: 1.3rem;
            height: 1.3rem;
            background-color: #bbb;
            border: .2rem solid var(--color-secondary);
            border-radius: 50%;
            cursor: pointer;
            outline: none;
            position: absolute;
            top: 95%;
            transform: translateX(-50%);
            z-index: 10;

            &:focus {
                background-color: var(--color-primary);
            }
        }

        .slide-btn-1 {
            left: 47%;

            &:focus ~ .banner__slideshow--wrapper {
                animation: none;
                left: 0;
            }
        }
        .slide-btn-2 {
            left: 49%;

            &:focus ~ .banner__slideshow--wrapper {
                animation: none;
                left: -100%;
            }
        }
        .slide-btn-3 {
            left: 51%;

            &:focus ~ .banner__slideshow--wrapper {
                animation: none;
                left: -200%;
            }
        }
        .slide-btn-4 {
            left: 53%;

            &:focus ~ .banner__slideshow--wrapper {
                animation: none;
                left: -300%;
            }
        }

        &--wrapper {
            display: flex;
            width: 400%;
            height: 100%;
            position: relative;
            animation: slideshow 20s infinite;

            .slide img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* ========================================================================== */
/* DAY OFFER */
/* ========================================================================== */
.day-offer {

    &__heading {
        font-size: 6rem;
        color: var(--color-primary-4);
    }

    &__paragraph {
        font-size: 3rem;
        color: var(--color-primary-2);
    }

    &__btn {
        width: 16rem;
        padding: 1rem;
        font-size: 1.4rem;
        color: #fff;
        background: linear-gradient(to top, #00154c, var(--color-primary), var(--color-primary-4));
        border: none;
        border-radius: 5rem;
        text-transform: uppercase;
        outline: none;
        box-shadow: .2rem .2rem 1rem #777;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            box-shadow: .2rem .2rem 2rem #777;
        }
    }

    &--img-two {
        align-self: end;
    }
}

/* ========================================================================== */
/* BEST SELLING */
/* ========================================================================== */
.bestselling-furniture {
    
    &__header {
        font-size: 4.5rem;
        color: var(--color-primary-4);
        text-align: center;
        margin: 3rem 0;
    }

    &__cards {
        .bestselling-furniture-card {
            background-color: #efefef;
            box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.3);
            overflow: hidden;

            &--img {
                width: 100%;
                border-radius: .3rem .3rem .0 0;
                transition: all .3s;

                &:hover {
                    transform: scale(1.05);
                }
            }

            &--heading {
                background-color: #fffddd;
                width: 80%;
                margin: auto;
                text-align: center;
                font-size: 2.4rem;
                color: var(--color-primary-3);
                padding: .5rem 0;
                border-radius: .2rem;
                transform: translateY(-50%);
            }

            &--paragraph {
                font-size: 1.9rem;
                color: var(--color-primary-4);
                text-align: center;
                margin-bottom: 1.6rem;
            }

            &--btn {
                cursor: pointer;
                width: 100%;
                padding: 1.6rem 0;
                background-color: var(--color-primary);
                font-size: 1.9rem;
                color: #fff;
                border: none;
                border-radius: 0 0 .3rem .3rem;
                transition: background-color .2s;

                &:hover {
                    background-color: var(--color-primary-4);
                }
            }
        }
    }
}

/* ========================================================================== */
/* GALLERY */
/* ========================================================================== */
.gallery {
    background-color: var(--color-primary-4);
    padding: 1.6rem 0;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .7;
        transition: opacity .5s;

        &:hover {
            opacity: 1;
        }
    }
}

/* ========================================================================== */
/* CONTACT */
/* ========================================================================== */
.contact {
    background-color: var(--color-primary);
    padding: 2rem 0;

    &__heading {
        justify-self: end;
        font-size: 2rem;
        color: #fff;
    }

    &__form {
        display: flex;

        input {
            outline: none;
            padding: .4rem 1rem;
            border: .1rem solid #fff;
        }

        &--input {
            border-radius: 5rem 0 0 5rem;
            border-right: none;
        }

        &--btn {
            background-color: var(--color-primary-2);
            color: #fff;
            border-radius: 0 5rem 5rem 0;
            border-left: none;
            transition: background-color .2s;
            cursor: pointer;

            &:hover {
                background-color: var(--color-primary);
            }
        }
    }
}

/* ========================================================================== */
/* FOOTER */
/* ========================================================================== */
.footer {
    text-align: center;
    font-size: 1.6rem;
    padding: 2rem 0 3rem 0;
    color: var(--color-primary-2);
}

/* ========================================================================== */
/* MODAL */
/* ========================================================================== */
.forms-wrapper {
    background-color: #eee;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 2rem;
    border: .1rem solid var(--color-primary-2);
    border-radius: .3rem;

    .x-btn {
        font-size: 2rem;
        color: #00154c;
        font-weight: 700;
        position: absolute;
        bottom: 3.3rem;
        right: 3.5rem;
        cursor: pointer;
    }

    form {
        width: 50rem;
        padding: 1rem;

        input:not(.form-btn) {
            background-color: #fff;
            color: #777;
            padding: 1.3rem;
            margin: .3rem 0;
            border: .2rem solid #eee;
            box-sizing: border-box;
            outline: none;
        }
    }

    .show-btns-wrapper {
        display: flex;
        padding: 1rem;

        .show-form-btn {
            flex: 0 1 50%;
            background-color: var(--color-primary);
            font-size: 1.5rem;
            color: #fff;
            padding: 1rem;
            text-transform: uppercase;
            letter-spacing: .2rem;
            text-align: center;
            border: .1rem solid #eee;
            cursor: pointer;
        }
    }
}

.form-heading {
    font-size: 2rem;
    color: var(--color-primary);
    text-transform: uppercase;
    padding: 1rem 0 0 .2rem;
}

.fullname-inputs-wrapper {
    display: flex;

    input {
        width: 50%;
    }
}

.form-input {
    width: 100%;
}

.form-btn {
    width: 35%;
    background-color: var(--color-secondary);
    color: #fff;
    letter-spacing: .3rem;
    padding: 1rem;
    border: none;
    margin-top: .5rem;
    cursor: pointer;
}